footer {
    background-color: #0f0f0f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: relative;
    border-top: 3px solid #00ff55; 
}

footer p {
    margin: 0 auto;
    font-size: 1rem;
    color: #979797;
}

.footer-social-icons {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.social-icon {
    font-size: 2.3rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

.footer-social-icons .fa-whatsapp {
    color: #00a859; 
}

.footer-social-icons .fa-facebook {
    color: #1976d2; 
}

.footer-social-icons .fa-instagram {
    color: #ff006e; 
}
