header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e; 
    padding: 20px 10px;
    position: relative;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

header h1 {
    font-size: 3rem;
    color: #ffffff;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav.boton-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 10px 20px;
}

/* Botón Catálogo */
.boton-catalogo {
    background-color: transparent;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border: 2px solid #ffffff;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.boton-catalogo:hover {
    color: #00ff00;
    background-color: #8c8c8c;
    transform: scale(1.1);
    border-color: #00ff00;
}


.login-carrito {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nombre-usuario {
    color: #00ff00; 
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    border: 2px solid #00ff00;
    padding: 5px 10px;
    background-color: #121212; 
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#nombre-usuario:hover {
    background-color: #00ff00; 
    color: #282828; 
}


.boton-login,
#boton-logout {
    background-color: transparent;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid #ffffff;
    padding: 8px 15px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.boton-login:hover,
#boton-logout:hover {
    color: #00ff00;
    background-color: #8c8c8c;
    transform: scale(1.1);
    border-color: #00ff00;
}


.carrito-boton {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.carrito-boton i {
    color: #ffffff;
}

.carrito-boton:hover i {
    color: #00ff00; 
    transform: scale(1.2);
}
